/* index.css or App.css */
:root {
  --ualbany-purple: #46166b;
  --ualbany-gold: #eeb211;
  --white: #ffffff;

}

body{
    background-color: #ecf0f4;
     font-family: 'Times New Roman', Times, serif;   
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--ualbany-purple);
}

button {
    cursor: pointer;
    display: block;
    margin: 0 auto;

    background-color: var(--ualbany-purple);
    color: var(--white);
    border: 2px solid var(--ualbany-gold);
    padding:10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
}
button:hover{
    background-color: var(--ualbany-gold);
    color: var(--ualbany-purple);
}
